# Environment & Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Flask & SQLite Database
instance/
*.db

# Uploads & Reports
uploads/*
!uploads/.gitkeep
reports/*
!reports/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
