flask
flask-cors
flask-limiter
flask-sqlalchemy
sqlalchemy
apscheduler
scikit-learn
xgboost
shap
scipy
numpy
pandas
nltk
beautifulsoup4
python-whois
python-Levenshtein
weasyprint
jinja2
gunicorn
python-dotenv
requests
PyMuPDF
oletools
